{% extends "hub/middle.html" %}
{% load i18n %}
{% load extras %}


	<!-- static url: {{ STATIC_URL }} -->

{% block page_left %}
	<div id="subscription">
		<h2>{% trans "contact us"|capfirst %}</h2>
		<noscript>
			
		</noscript>
		<div class="subscription-wrapper">
		
			<label for="id_subscriber_first_name">{% trans "first name"|capfirst %}</label>
			{{ subscriber_form.first_name }}

			<label for="id_subscriber_last_name">{% trans "last name"|capfirst %}</label>
			{{ subscriber_form.last_name }}

			<label for="id_subscriber_email">{% trans "email"|capfirst %}</label>
			{{ subscriber_form.email }}

			<label for="affiliation">{% trans "status"|capfirst %}
				
			</label>
			<p>{{ subscriber_form.status }}</p>

			<label for="id_subscriber_affiliation">{% trans "affiliation"|capfirst %}
				<div class="specification">{% trans "university or institution"|capfirst %}</div>
			</label>
			{{ subscriber_form.affiliation }}
			
			<label for="id_subscriber_description">{% trans "message"|capfirst %}
				<!--<div class="specification">{% trans "message" %}</div>-->
			</label>
			{{ subscriber_form.description }}

			<label for="recaptcha_response_field">{% trans "recaptcha"|capfirst %}
				<div class="specification">{% trans "recaptcha description"|capfirst %}</div>
			</label>
			{{ subscriber_form.captcha }}
			

		
			<label for="id_subscriber_accepted_terms">{% trans "legal notices"|capfirst %}
				<div class="specification">
					{% trans "legal notice description"|capfirst  %}
				</div>

				<div class="specification"><b>{% trans "I have read and accepted" %}</b> {{ subscriber_form.accepted_terms }}</div>
			</label>

			
		
			<input type="button" id="add-subscriber" value="{% trans "send" %}"/>
		</div>
	
	</div>
	<div id="subscription-accepted" style="display:none">
		<h2>{% trans "Merci !"%}</h2>

		{% trans "message sent" %}

		<p>
			<a href="{% url outside_index %}">{% trans "back to home page"%}</a>
		</p>
	</div>
{% endblock %}