{% extends "outside/middle.html" %}
{% load i18n %}
{% block page %}
	<!-- static url: {{ STATIC_URL }} -->
	
	<div id="introduction">

		<div id="schema"></div>

		
		<!--{{ user.username }}-->
	
		{% if edit_mode %}
				<input name="files[]" id="fileupload" type="file" size="50" />
				<div class="edit-mode add-pin" data-page-slug="{{ page.slug }}" style="text-align:center" rel="tooltip" title="{% trans "edit mode" %}: {% trans "add section" %}">[ {% trans "add pin" %} ]</div>
					{% endif %}
	</div>
	{% for p in pins %}
	<section >
		<div style="position:absolute;margin-left: -100px;">
			<div class="marker" style="position:absolute; top:0px; left:0px;">{{ p.date }} </div>
		</div>
		<a id="{{ p.slug }}"></a>
		<h2>{{ p.title }} {% if edit_mode %} {% comment %}<a class="edit-mode delete" href="{% url admin:glue_pin_delete p.id %}">{% trans "delete section" %}</a>
		 <a class="edit-mode" data-slug='{{ p.slug }}' data-language='{{ p.language }}' href="{% url admin:glue_bean_change p.id %}">^ {% trans "edit section" %} ^</a>{% endcomment %} {% endif %}</h2>
		{% if edit_mode %}
			<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit content" %} id:{{ p.id }} ]</div>
			<div class="edit-mode edit-pin" href="#edit-pin-modal" data-pin-id="{{ p.id }}" role="button">[ {% trans "edit slug" %} #{{ p.slug }} ]</div>
			<div class="edit-mode delete-pin" href="#" data-pin-id="{{ p.id }}" role="button">[ {% trans "delete slug" %} #{{ p.slug }} ]</div>

			{% ifequal p.status 'D' %}
				<div class="edit-mode publish-pin" href="#" new-status="P" data-pin-id="{{ p.id }}" role="button">[ {% trans "publish" %} ]</div>
			{% else %}
				<div class="edit-mode publish-pin" href="#" new-status="D" data-pin-id="{{ p.id }}" role="button">[ {% trans "draftify" %} ]</div>
			{% endifequal %}

		{% endif %}

		<div class="abstract">
			{{ p.abstract|safe }}
		</div>

		<div class="content">
			{{ p.content|safe }}
			
		</div>
		<div class="clear"></div>
		
	</section>
	
	{% endfor %}

{% endblock %}
